<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css}">
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<form th:action="@{/products/deleteProductsWithParameters}" method="get">
    <div th:each="p, stat : ${allParameters}">
        <input class="form-check-input"
               type="checkbox"
               name="parameterIds"
               th:value="${p.id}"
               th:id="'paramCheckbox__' + ${p.id}"
               th:attrappend="required=${stat.first}">
        <label th:for="'paramCheckbox__' + ${p.id}"
               th:text="${p.name}">
        </label>
    </div>

    <button type="submit" class="btn btn-danger mt-2">Delete</button>
</form>


<form th:action="@{/products/productsByProductGroupId}" method="get">
    <select name="productGroupId" required>
        <option value="">-- Оберіть параметр --</option>
        <option th:each="p : ${allProductGroups}"
                th:value="${p.id}"
                th:text="${p.name}">
        </option>
    </select>
    <button class="btn btn-outline-danger" type="submit">get by pg</button>
</form>



<form th:action="@{/products/productWithoutParameter}" method="get">

        <select name="parameterId" required>
            <option value="">-- Оберіть параметр --</option>
            <option th:each="p : ${allParameters}"
                    th:value="${p.id}"
                    th:text="${p.name}">
            </option>
        </select>

    <button class="btn btn-light" type="submit">Get</button>
</form>

<table class="table table-striped table-hover table-sm" th:if="${products != null and !products.isEmpty()}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Назва</th>
        <th>Опис</th>
        <th>Дата випуску</th>
        <th>Група</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${products}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.description}"></td>
        <td th:text="${p.releaseDate}"></td>
        <td th:text="${p.productGroup.name}"></td>
        <td>
            <button class="btn btn-outline-info btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#productInfoModal"
                    th:attr="data-bs-url=@{/products/getProductWithParameters/{productId}(productId=${p.id})}">
                <i class="bi bi-eye"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<p th:if="${products == null or products.isEmpty()}">
    Немає продуктів, що задовольняють умову.
</p>

<div class="modal fade" id="productInfoModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-info text-white">
                <h5 class="modal-title">Інформація про продукт</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body" id="productDetailsContainer">
                <!-- Сюди JS підставить HTML з product-details.html -->
            </div>

        </div>
    </div>
</div>


<script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/showModal.js}"></script>
</body>
</html>