<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<label th:for="product_name">product name</label>
<input th:id="product_name" type="text" required>

<label th:for="product_description">product description</label>
<input th:id="product_description" type="text" required>

<label th:for="release-date">release-date</label>
<input th:id="release-date" type="date" required>


<label th:for="productGroupId">productGroupId</label>
<select name="productGroupId" required>
    <option value="">-- Оберіть параметр --</option>
    <option th:each="p : ${allProductGroups}"
            th:value="${p.id}"
            th:text="${p.name}">
    </option>
</select>

<label th:for="productGroupId">productGroupId</label>
<div th:each="p : ${allParameters}">
    <input class="form-check-input"
           type="checkbox"
           name="parameterIds"
           th:value="${p.id}"
           th:id="'paramCheckbox__' + ${p.id}">

    <input th:id="'parameter_value_' + ${p.id}">

    <label th:for="'paramCheckbox__' + ${p.id}"
           th:text="${p.name}">
    </label>
</div>

</body>
</html>